div{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.384);
    text-align: center;
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

#d1:hover{
    color: white;
    background-color: black;
    transition: 0.5s;
}

#d2:active{
    color: white;
    background-color: black;
    transition: 0.5s;
}





.aqui > p{
    display: none;
}
.aqui:hover > p{
    display: block;
    color: white;
    background-color: red;
}

